{% load static %}{% spaceless %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tryceo</title>

    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <!-- MapBox -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
</head>
<body>

    <!-- Show/hide map or table -->
    <section id="map_table_toggle">
        <input type="checkbox" checked="checked" id="toggle_map"/>
        <label for="toggle_map" id="_toggle_map">
            <svg class="toggle_icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20.5 3l-.16.03L15 5.1 9 3 3.36 4.9c-.21.07-.36.25-.36.48V20.5c0 .28.22.5.5.5l.16-.03L9 18.9l6 2.1 5.64-1.9c.21-.07.36-.25.36-.48V3.5c0-.28-.22-.5-.5-.5zM15 19l-6-2.11V5l6 2.11V19z"/></svg>
        </label>
        <input type="checkbox" checked="checked" id="toggle_table">
        <label for="toggle_table" id="_toggle_table">
            <svg class="toggle_icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
        </label>
    </section>

    <main>
        <!-- Map -->
        <section id="map">
            MAP
        </section>
        <!-- Table -->
        {% include 'table.html' %}
    </main>

    <!-- TODO move out of here all scripts -->

    <script>
        // document.addEventListener('DOMContentLoaded', function () {
            /* Toggle map or table */
            let map_checkbox = document.querySelector('#toggle_map');
            map_element = document.querySelector('#map');
            let table_checkbox = document.querySelector('#toggle_table');
            table_element = document.querySelector('#table');

            make_toggle_item = (checkbox, toggle_element) => {
                let check_state = true;
                checkbox.onclick = () => {
                    check_state = check_state ? false : true;
                    if (check_state) {
                        toggle_element.style.display = 'flex';
                    } else {
                        toggle_element.style.display = 'none';
                    }
                };
            };
            make_toggle_item(map_checkbox, map_element);
            make_toggle_item(table_checkbox, table_element);


            /*
                Playing arround with the map
            */
            mapboxgl.accessToken = '{{MAPBOX_KEY}}';
            var _default = [ -3.703790, 40.416775];
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/light-v10',
                center: _default,
                zoom: 5
            });


            map.on('load', function() {
                // Change the map size when a toggle is clicked.
                table_checkbox.addEventListener('click', ()=> {
                    map.resize();
                });
                map_checkbox.addEventListener('click', ()=> {
                    map.resize();
                });

                // Load the cluster layers from country areas
                // Literally copyed from https://docs.mapbox.com/mapbox-gl-js/example/cluster/
                {% for area in country_areas %}
                    map.addSource('{{area.name |cut:' '}}', {
                        type: 'geojson',
                        data:
                        'http://127.0.0.1:8000/static/geojson/{{area.name |cut:' '}}.geojson',
                        cluster: true,
                        clusterMaxZoom: 17, // Max zoom to cluster points on
                        clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
                    });

                    map.addLayer({
                        id: 'clusters-{{area.name |cut:' '}}',
                        type: 'circle',
                        source: '{{area.name |cut:' '}}',
                        filter: ['has', 'point_count'],
                        paint: {
                            'circle-color': [
                                'step',
                                ['get', 'point_count'],
                                '#DFDACF',
                                100,
                                '#c4bfb6',
                                750,
                                '#c4bfb6'
                            ],
                            'circle-radius': [
                                'step',
                                ['get', 'point_count'],
                                20,
                                100,
                                30,
                                750,
                                40
                            ]
                        }
                    });

                    map.addLayer({
                        id: 'cluster-count-{{area.name |cut:' '}}',
                        type: 'symbol',
                        source: '{{area.name |cut:' '}}',
                        filter: ['has', 'point_count'],
                        layout: {
                            'text-field': '{point_count_abbreviated}',
                            'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
                            'text-size': 12
                        }
                    });

                    map.addLayer({
                        id: 'unclustered-point-{{area.name |cut:' '}}',
                        type: 'circle',
                        source: '{{area.name |cut:' '}}',
                        filter: ['!', ['has', 'point_count']],
                        paint: {
                            'circle-color': '#596F6C',
                            'circle-radius': 7,
                            'circle-stroke-width': 1,
                            'circle-stroke-color': '#fff'
                        }
                    });

                    // inspect a cluster on click
                    map.on('click', 'clusters-{{area.name |cut:' '}}', function (e) {
                        var features = map.queryRenderedFeatures(e.point, {
                            layers: ['clusters-{{area.name |cut:' '}}']
                        });
                        var clusterId = features[0].properties.cluster_id;
                        map.getSource('{{area.name |cut:' '}}').getClusterExpansionZoom(
                            clusterId,
                            function (err, zoom) {
                                if (err) return;

                                map.easeTo({
                                    center: features[0].geometry.coordinates,
                                    zoom: zoom
                                });
                            }
                        );
                    });


                    // When a click event occurs on a feature in
                    // the unclustered-point layer, open a popup at
                    // the location of the feature, with
                    // description HTML from its properties.
                    map.on('click', 'unclustered-point-{{area.name |cut:' '}}', function (e) {
                        var coordinates = e.features[0].geometry.coordinates.slice();
                        // Our own data
                        console.log('click');
                        var name = e.features[0].properties.name;
                        var url = e.features[0].properties.url;
                        var area = e.features[0].properties.area;
                        var address = e.features[0].properties.address;

                        // Ensure that if the map is zoomed out such that
                        // multiple copies of the feature are visible, the
                        // popup appears over the copy being pointed to.
                        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                        }

                        new mapboxgl.Popup()
                        .setLngLat(coordinates)
                        .setHTML(
                            name
                        )
                        .addTo(map);
                    });

                {% endfor %}

                map.on('mouseenter', 'clusters', function () {
                    map.getCanvas().style.cursor = 'pointer';
                });
                map.on('mouseleave', 'clusters', function () {
                    map.getCanvas().style.cursor = '';
                });

            });

        // });
    </script>


</body>
</html>{% endspaceless %}