<section id="table">
    <div class="select_region">
        <p class="title">Select region:</p>
        <ul class="regions">
            {% for area in country_areas %}
                <li class="region">
                    <input type="checkbox"
                        id="checkbox_{{area.name |cut:' '}}"
                        attr-area-name="{{area.name |cut:' '}}"
                        attr-bounds="{{area.bounding_box}}">
                    <label for="checkbox_{{area.name |cut:' '}}"
                           id="_checkbox_{{area.name |cut:' '}}">
                        <span class="name">
                            {{ area.name }}
                        </span>
                        <div class="checkbox_background">
                        <div class="checkbox_ball"></div>
                        </div>
                    </label>
                </li>
            {% endfor %}

            <li class="region">
                <input type="checkbox" id="checkbox_All">
                <label for="checkbox_All" id="_checkbox_All">
                    <span class="name">All</span>
                    <div class="checkbox_background">
                    <div class="checkbox_ball"></div>
                    </div>
                </label>
            </li>
        </ul>
    </div>
    <div class="review_box">
        <div class="header">
            <div class="title">Reviews:</div>
        </div>
        <ul>
            <li class="no-select">
                Select region to see reviews.
            </li>
        </ul>
    </div>
</section>